# Backend
Backend/.env
Backend/target/
Backend/.mvn/
Backend/mvnw
Backend/mvnw.cmd

# Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/.env
Frontend/.env.local

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
